node_modules/
dist/
build/
.turbo/
.npm/
.env
.env.local
.env.*.local
!.env.example

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
.poetry/
packages/data-python/data_cache/

.DS_Store
.vscode/
.idea/